{% include 'common_headers.html' %}
<body>
	<div class="container">
		
		{% include 'common_head.html' %}

		{% include 'common_nav.html' %}

		<article>
			
			{% for post in post_list %}
				<section class="article_blurb">
					<h3>
						{{ post.title }}
					</h3>

					{% include 'posts_post_info.html' %}

					<p>
						{{ post.formatted_markdown|safe|truncatewords_html:50 }}
					</p>

					<p>
						<a href="/post/{{ post.id }}/">
							MORE
						</a>
					</p>
				</section>

			{% endfor %}

		</article>

		{% include 'common_footer.html' %}
	</div>
</body>
</html>
