{% include 'common_headers.html' %}
<body>
	<div class="container">
		
		{% include 'common_head.html' %}

		{% include 'common_nav.html' %}

		<article class="article_content">
			
			<h2>
				About Harlin Seritt
			</h2>

			<img src="/static/img/harlin-seritt-02Sep17.jpg" class="about_pic">

			<h4>Professional</h4>

			<p>
				I work at Alfresco Software as a techical support engineer.
			</p>

			<p>
				In the past, I have worked at these places:

				<ul>
					<li>Cox Communications (www.kudzu.com)</li>
					<li>IBM</li>
					<li>Centers for Disease Control</li>
					<li>Atlanta Enterprise Solutions</li>
					<li>SATA</li>
				</ul>
			</p>

			<p>
				I have worked as a system administrator, application developer and consultant. If you're interested in anything I have done professionally, click on the LinkedIn link to the right.
			</p>

			<p>Before working in technology ...</p>

			<p>
				I kind of did it all. I was in the U.S. Marine Corps from 1987 to 1993. After I got out of the service, I worked in logistics, selling truck driving education, carpet cleaning, rent-to-own collections, selling home alarm systems, vacation promotions, cemetery property, industrial chemicals, termite and pest control, lawncare.
			</p>

			<p>
				As you can tell, I wasn't so good at selling. You normally don't get laid off when working in sales. You either make enough to live off or you find something else. I managed to get laid off. This time while in the unemployment line, I decided to use my GI Bill and went to college. I had just enough time to earn an Associates Degree in CIS from Griffin Technical College.
			</p>

			<h4>Military Service</h4>

			<p>
				I got to go to a lot of places. If you want to get deployed and go to other countries, the Marine Corps is not a bad way to do it.
			</p>

			<p>
				There is no telling where my life might have gone had I not joined the Marine Corps. I learned so much self-discipline that I never had before. My greatest achievement was graduating from boot camp at Parris Island, SC. That is a day (along with the birth of your kids) that you will never forget nor appreciate more.
			</p>

			<p>My greatest honor was being a Sergeant of Marines and having the opportunity to lead much greater men than myself.</p>

			<p>
				I got to take part in these operations:

				<ul>
					<li>
						Wisconsin for cold weather training and then Norway to put that training into practice. (1987-1988 - BSSG 4)
					</li>
					<li>
						Panama - Prep for Operation Just Cause (1989 BSSG 6)
					</li>
					<li>
						Mediterranean Float (1989 - MSSG-26)
					</li>
					<li>
						Mediterranean Float / Liberia / Desert Storm/Shield (1990-1991 - MSSG-26)
					</li>
					<li>
						Mediterranean Float (1992 - MSSG-22)
					</li>
				</ul>
			</p>

			<p>
				When you go on a Med Float you get to see these countries/places usually:

				<ul>
					<li>Spain</li>
					<li>France</li>
					<li>Italy</li>
					<li>Greece</li>
					<li>Turkey</li>
					<li>Lebanon</li>
					<li>Israel</li>
					<li>Egypt</li>
					<li>Tunisia</li>
					<li>Morocco</li>
				</ul>
			</p>

			<p>
				I think my favorite places were Spain and Israel. Turkey was not bad at all. To be honest, I thought the people in these countries were fantastic. I learned a lot.
			</p>

			<p>
				If you are an American, my best recommendation is for you to get out and see the rest of the world. It will make your world so much bigger. You will get to meet other people and see how they live and learn to appreciate that what works for us doesn't always work so well for them.
			</p>

			<p>
				If you are not an American and have never been to the States, you should try to come. We think we do things the right way here -- and we do to some degree but that's not always true. I think you will find most Americans are very friendly. If you have to pick a state to come to, I would highly recommend Colorado. We have a great mix of scenery and we have somewhat intelligent people here. ;-) I think you will find it very welcoming and there is never a shortage of things to do.
			</p>

			<h4>Places I've Lived</h4>

			<p>I've lived in the following areas throughout my life:</p>

			<ul>
				<li>Born and lived in Birmingham, AL</li>
				<li>Slidell, LA</li>
				<li>Mobile area (Prichard and Chickasaw, AL)</li>
				<li>Stockbridge, GA</li>
				<li>In the Marine Corps, when I wasn't on deployment I lived in Jacksonville, NC</li>
				<li>McDonough, GA</li>
				<li>Lawrenceville, GA</li>
				<li>Colorado Springs, CO</li>
			</ul>

			<p>
				We also now own about 5.5 acres in Hartsel, CO which is almost 	dead center of the state. We plan to build out here our retirement home. The nearest decent size town is Buena Vista which is roughly 25 miles to the west. Fairplay is about 25 miles to the north. It is very quiet out there except for a few antelopes, deer and elk.
			</p>

			<p>
				Ok. You now know more about me than most of my family and friends do. Congrats.
			</p>

		</article>

		{% include 'common_footer.html' %}
	</div>
</body>
</html>