<h4 class="comments_welcome">Any Comments, Always Welcome!</h4>

<div id="disqus_thread" class="disqus_thread">
	<script>
		/*
		DISQUS.reset({
		  reload: true,
		  config: function () {
		    this.page.identifier = "{{ request.path }}";
		    this.page.url = "http://dev.prodigi.us";
		  }
		});
		*/

		var disqus_config = function () {
		    this.page.url = "http://dev.prodigi.us";  // Replace PAGE_URL with your page's canonical URL variable
		    this.page.identifier = "{{ request.path }}"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
		};
		(function() {  // REQUIRED CONFIGURATION VARIABLE: EDIT THE SHORTNAME BELOW
		    var d = document, s = d.createElement('script');
		    
		    s.src = 'https://dev-prodigi-us.disqus.com/embed.js';  // IMPORTANT: Replace EXAMPLE with your forum shortname!
		    
		    s.setAttribute('data-timestamp', +new Date());
		    (d.head || d.body).appendChild(s);
		})();


	</script>
	<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
</div>