body {
	font-family: 'Open Sans', sans-serif;
	background-color: white;
}

pre {
	font-family: 'Source Code Pro', monospace;
	font-size: 14px;
	background-color: lightgrey;
	padding: 1em;
}

p.header_text {
	color: white;
}

p.post_info {
	font-size: 13px;
}

div.container {
	width: 100%;
}

header, footer {
	padding: 0.5em;
	color: white;
	background-color: black;
	clear: left;
	text-align: center;
}

header {
	left: 0;
	right: 0;
	box-shadow: 50px 0px 0px 0px #000;
	margin-left: -20px;
}

footer {
	font-size: 10px;
	bottom: 0;
	left: 0;
	right: 0;
	box-shadow: 0px 500px 0px 500px #000;
}

nav {
	float: right;
	max-width: 80px
	padding: 10em;
	margin-right: 100px;
	margin-left: 50px;
}

article {
	margin-left: 170px;
	margin-right: 100px;
	border-left: 1px solid gray;
	/* border-right: 1px solid gray; */
	padding: 1em;
	overflow: hidden;
	min-height: 1000px;
}

section.article_blurb {
	margin-bottom: 50px;
	margin-top: 50px;
}

article.article_content {
	margin-top: 30px;
}

h2.posts_header {
	margin-bottom: 50px;
}

h3.links_header {
	margin-top: 60px;
}

a {
	color: #535456;
	text-decoration: none;
}

/* mouse over link */
a:hover {
    color: #313233;
    text-decoration: underline;
}

a.article_link {
	color: #2e60b2;
	font-weight: bold;
	font-size: smaller;
}

a.mp_link {
	color: white;
}

img.about_pic {
	border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 250px;
}

