body {
	font-family: 'Open Sans', sans-serif;
	font-size: 15.5px;
	background-color: white;
}

pre {
	font-family: 'Source Code Pro', monospace;
	font-size: 14px;
	background-color: lightgrey;
	padding: 2em;
	margin-top: 35px;
	margin-bottom: 35px;
	line-height: 130%;
}

p {
	line-height: 160%;
}

p.header_text {
	color: white;
	padding: 10px;
	margin-bottom: -10px;
}

p.post_info {
	font-size: 13px;
}

div.contact_form {
	margin-top: 50px;
}

div.container {
	width: 100%;
}

div.disqus_thread {
	margin-top: 50px;
	margin-bottom: 50px;
}

header, footer {
	padding: 0.5em;
	color: white;
	background-color: black;
	clear: left;
	text-align: center;
}

header {
	top: 0;
	left: 0;
	right: 0;
	box-shadow: 50px 0px 0px 0px #000;
	margin-left: -20px;
	margin-top: -10px;
}

footer {
	font-size: 10px;
	bottom: 0;
	left: 0;
	right: 0;
	box-shadow: 0px 500px 0px 500px #000;
}

nav {
	/* float: right; */
	max-width: 80px
	padding: 10em;
	margin-right: 100px;
	margin-left: 50px;
}

article {
	border-left: 1px solid gray;
	padding: 1em;
	overflow: hidden;
	min-height: 1000px;
}

section.article_blurb {
	margin-bottom: 50px;
	margin-top: 50px;
}

article.article_content {
	margin-top: 30px;
}

h2.posts_header {
	margin-bottom: 50px;
}

h2 {
	margin-bottom: 25px;
}

h3.links_header {
	margin-top: 60px;
}

h4 {
	font-weight: bold;
	margin-top: 25px;
}

h4.comments_welcome {
	margin-top: 50px;
}

a {
	color: gray;
	text-decoration: none;
}

/* mouse over link */
a:hover {
    color: #313233;
    text-decoration: underline;
}

a.article_link {
	color: #2e60b2;
	font-weight: bold;
	font-size: smaller;
}

a.mp_link {
	color: white;
}

img.about_pic {
	border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 250px;
}

th {
	text-align: left;
	vertical-align: top;
}

input[type="text"], input[type="email"] {
    width: 300px;
    height: 25px;
    font-size: 14px;
}

input[type="submit"] {
	/* -webkit-appearance: none; */
	-webkit-appearance: button;
	width: 10em;  height: 2em;
	font-size: 15px;
	display: inline-block;
}

textarea {
	width: 400px;
	font-size: 14px;
	resize: both;
    overflow: all;
}

table {
	border-spacing: 10px;
}

span.field_label {
	display: block;
}

span.field_element {
	display: block;
	margin-bottom: 20px;
}

