body {
	font-family: 'Open Sans', sans-serif;
}

pre {
	font-family: 'Source Code Pro', monospace;
	font-size: 14px;
	background-color: lightgrey;
	padding: 1em;
}

p.header_text {
	color: white;
}

div.container {
	width: 100%;
}

header, footer {
	padding: 0.5em;
	color: white;
	background-color: black;
	clear: left;
	text-align: center;
}

footer {
	font-size: 10px;
	bottom: 0;
	left: 0;
	right: 0;
	box-shadow: 0px 500px 0px 500px #000;
}

nav {
	float: right;
	max-width: 120px
	padding: 20em;
	margin-right: 150px;
	margin-left: 50px;
}

article {
	margin-left: 170px;
	border-left: 1px solid gray;
	padding: 1em;
	overflow: hidden;
}