<nav>
	<h3 class="links_header">Links</h2>
	<ul>
		{% for link in site_link_list %}
		<li>
			<a href="{{ link.url }}">
				{{ link.name }}
			</a>
		</li>
		{% endfor %}
	</ul>
	
	<h3>Social Media</h3>
	<ul>
		{% for link in social_media_link_list %}
		<li>
			<a href="{{ link.url }}">
				{{ link.name }}
			</a>
		</li>
		{% endfor %}
	</ul>

	<h3>Posts by Category</h3>
	
	<ul>
		{% for category in category_list %}
			<li>
				<a href="{% url 'posts_filtered' %}?category_name={{ category.name }}">
					{{ category.name|title }}
				</a>
			</li>
		{% endfor %}
	</ul>

	<h3>Recommendations</h3>

	<ul>
		{% for link in recommended_link_list %}
		<li>
			<a href="{{ link.url }}">
				{{ link.name }}
			</a>
		</li>
		{% endfor %}
	</ul>

</nav>